<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>user.1.name</param-name>
        <param-value>johndoe</param-value>
    </context-param>
    <context-param>
        <param-name>user.1.pass</param-name>
        <param-value>javauser</param-value>
    </context-param>
    <context-param>
        <param-name>user.2.name</param-name>
        <param-value>janedoe</param-value>
    </context-param>
    <context-param>
        <param-name>user.2.pass</param-name>
        <param-value>javauser</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>edu.acc.j2ee.login.AppListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>edu.acc.j2ee.login.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>edu.acc.j2ee.login.RegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
</web-app>
